<!-- {% extends 'partials/base.html' %}

{% block content %}
  {% if registered %}     
  <h1>Thankyou for the Registration..!!</h1>

  {% else %}
    <h1>Login here</h1>
    <form action="" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          <label for="username">Username:</label><input type="text" name="username" id=""><br><br>
          <label for="password">password:</label><input type="text" name="password" id=""><br><br>  
          <input type="submit" class="btn btn-success" value="Login">
    </form>
  {% endif %}
{% endblock %} -->

     
