<!-- {% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {% if registered %}     
  <h1>Thankyou for the Registration..!!</h1>

  {% else %}
    <h1>Signup here</h1>
    <form action="" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ userprofile.username | as_crispy_field }}
          {{ userprofile.email | as_crispy_field }}
          {{ userprofile.password | as_crispy_field }}
          {{ profileform.user_img | as_crispy_field }}
          <input type="submit" value="Login">
    </form>
  {% endif %}
{% endblock %} -->